<table border="0" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>rank</th>
        <th>player_display_name</th>
        <th>recent_team</th>
        <th>opponent</th>
        <th>prediction</th>
        <th>actual</th>
        <th>error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Josh Allen</td>
        <td>BUF</td>
        <td>JAX</td>
        <td>24.8186</td>
        <td>0.0</td>
        <td>24.8186</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Patrick Mahomes</td>
        <td>KC</td>
        <td>MIN</td>
        <td>23.6492</td>
        <td>0.0</td>
        <td>23.6492</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Lamar Jackson</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>22.3890</td>
        <td>0.0</td>
        <td>22.3890</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Jalen Hurts</td>
        <td>PHI</td>
        <td>LA</td>
        <td>22.1126</td>
        <td>0.0</td>
        <td>22.1126</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Tua Tagovailoa</td>
        <td>MIA</td>
        <td>NYG</td>
        <td>20.6240</td>
        <td>0.0</td>
        <td>20.6240</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Matthew Stafford</td>
        <td>LA</td>
        <td>PHI</td>
        <td>19.4634</td>
        <td>0.0</td>
        <td>19.4634</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Dak Prescott</td>
        <td>DAL</td>
        <td>SF</td>
        <td>19.2648</td>
        <td>0.0</td>
        <td>19.2648</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Joe Burrow</td>
        <td>CIN</td>
        <td>ARI</td>
        <td>19.0480</td>
        <td>0.0</td>
        <td>19.0480</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Justin Fields</td>
        <td>CHI</td>
        <td>WAS</td>
        <td>18.8464</td>
        <td>0.0</td>
        <td>18.8464</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Trevor Lawrence</td>
        <td>JAX</td>
        <td>BUF</td>
        <td>18.7778</td>
        <td>0.0</td>
        <td>18.7778</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Kirk Cousins</td>
        <td>MIN</td>
        <td>KC</td>
        <td>18.3994</td>
        <td>0.0</td>
        <td>18.3994</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Justin Herbert</td>
        <td>LAC</td>
        <td>LV</td>
        <td>17.8740</td>
        <td>0.0</td>
        <td>17.8740</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Geno Smith</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>16.9716</td>
        <td>0.0</td>
        <td>16.9716</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Jared Goff</td>
        <td>DET</td>
        <td>CAR</td>
        <td>16.8992</td>
        <td>0.0</td>
        <td>16.8992</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Sam Howell</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>16.4578</td>
        <td>0.0</td>
        <td>16.4578</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Baker Mayfield</td>
        <td>TB</td>
        <td>NO</td>
        <td>15.9010</td>
        <td>0.0</td>
        <td>15.9010</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Jimmy Garoppolo</td>
        <td>LV</td>
        <td>GB</td>
        <td>15.6642</td>
        <td>0.0</td>
        <td>15.6642</td>
      </tr>
      <tr>
        <td>18</td>
        <td>C.J. Stroud</td>
        <td>HOU</td>
        <td>ATL</td>
        <td>14.6522</td>
        <td>0.0</td>
        <td>14.6522</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Bryce Young</td>
        <td>CAR</td>
        <td>DET</td>
        <td>14.4726</td>
        <td>0.0</td>
        <td>14.4726</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Zach Wilson</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>14.4650</td>
        <td>0.0</td>
        <td>14.4650</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Desmond Ridder</td>
        <td>ATL</td>
        <td>HOU</td>
        <td>14.3202</td>
        <td>0.0</td>
        <td>14.3202</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Joshua Dobbs</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>14.2774</td>
        <td>0.0</td>
        <td>14.2774</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Mac Jones</td>
        <td>NE</td>
        <td>NO</td>
        <td>14.2546</td>
        <td>0.0</td>
        <td>14.2546</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Ryan Tannehill</td>
        <td>TEN</td>
        <td>IND</td>
        <td>13.9088</td>
        <td>0.0</td>
        <td>13.9088</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Russell Wilson</td>
        <td>DEN</td>
        <td>NYJ</td>
        <td>13.2296</td>
        <td>0.0</td>
        <td>13.2296</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Brock Purdy</td>
        <td>SF</td>
        <td>DAL</td>
        <td>13.1358</td>
        <td>0.0</td>
        <td>13.1358</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Derek Carr</td>
        <td>NO</td>
        <td>NE</td>
        <td>12.5594</td>
        <td>0.0</td>
        <td>12.5594</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Anthony Richardson</td>
        <td>IND</td>
        <td>TEN</td>
        <td>11.4328</td>
        <td>0.0</td>
        <td>11.4328</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Tyrod Taylor</td>
        <td>NYG</td>
        <td>MIA</td>
        <td>11.1230</td>
        <td>0.0</td>
        <td>11.1230</td>
      </tr>
    </tbody>
  </table>