<table border="0" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>rank</th>
        <th>player_display_name</th>
        <th>recent_team</th>
        <th>opponent</th>
        <th>prediction</th>
        <th>actual</th>
        <th>error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Austin Ekeler</td>
        <td>LAC</td>
        <td>MIA</td>
        <td>21.0600</td>
        <td>0.0</td>
        <td>21.0600</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Raheem Mostert</td>
        <td>MIA</td>
        <td>NYG</td>
        <td>20.4864</td>
        <td>0.0</td>
        <td>20.4864</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Travis Etienne</td>
        <td>JAX</td>
        <td>BUF</td>
        <td>19.7150</td>
        <td>0.0</td>
        <td>19.7150</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Christian McCaffrey</td>
        <td>SF</td>
        <td>DAL</td>
        <td>19.6956</td>
        <td>0.0</td>
        <td>19.6956</td>
      </tr>
      <tr>
        <td>5</td>
        <td>David Montgomery</td>
        <td>DET</td>
        <td>CAR</td>
        <td>19.5050</td>
        <td>0.0</td>
        <td>19.5050</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Bijan Robinson</td>
        <td>ATL</td>
        <td>HOU</td>
        <td>18.6872</td>
        <td>0.0</td>
        <td>18.6872</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Tony Pollard</td>
        <td>DAL</td>
        <td>SF</td>
        <td>18.2620</td>
        <td>0.0</td>
        <td>18.2620</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Alvin Kamara</td>
        <td>NO</td>
        <td>NE</td>
        <td>17.5166</td>
        <td>0.0</td>
        <td>17.5166</td>
      </tr>
      <tr>
        <td>9</td>
        <td>D'Andre Swift</td>
        <td>PHI</td>
        <td>LA</td>
        <td>16.8746</td>
        <td>0.0</td>
        <td>16.8746</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Josh Jacobs</td>
        <td>LV</td>
        <td>GB</td>
        <td>16.6516</td>
        <td>0.0</td>
        <td>16.6516</td>
      </tr>
      <tr>
        <td>11</td>
        <td>James Cook</td>
        <td>BUF</td>
        <td>JAX</td>
        <td>15.7614</td>
        <td>0.0</td>
        <td>15.7614</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Jamycal Hasty</td>
        <td>JAX</td>
        <td>ATL</td>
        <td>15.1590</td>
        <td>0.0</td>
        <td>15.1590</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Joe Mixon</td>
        <td>CIN</td>
        <td>ARI</td>
        <td>14.7024</td>
        <td>0.0</td>
        <td>14.7024</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Kendre Miller</td>
        <td>NO</td>
        <td>NE</td>
        <td>14.2680</td>
        <td>0.0</td>
        <td>14.2680</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Deon Jackson</td>
        <td>IND</td>
        <td>JAX</td>
        <td>14.1310</td>
        <td>0.0</td>
        <td>14.1310</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Kyren Williams</td>
        <td>LA</td>
        <td>PHI</td>
        <td>14.0010</td>
        <td>0.0</td>
        <td>14.0010</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Derrick Henry</td>
        <td>TEN</td>
        <td>IND</td>
        <td>13.9860</td>
        <td>0.0</td>
        <td>13.9860</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Breece Hall</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>13.7020</td>
        <td>0.0</td>
        <td>13.7020</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Ezekiel Elliott</td>
        <td>NE</td>
        <td>NO</td>
        <td>13.6780</td>
        <td>0.0</td>
        <td>13.6780</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Jerome Ford</td>
        <td>CLE</td>
        <td>BAL</td>
        <td>13.4270</td>
        <td>0.0</td>
        <td>13.4270</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Rhamondre Stevenson</td>
        <td>NE</td>
        <td>NO</td>
        <td>12.9868</td>
        <td>0.0</td>
        <td>12.9868</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Isiah Pacheco</td>
        <td>KC</td>
        <td>MIN</td>
        <td>12.9714</td>
        <td>0.0</td>
        <td>12.9714</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Rachaad White</td>
        <td>TB</td>
        <td>NO</td>
        <td>12.7968</td>
        <td>0.0</td>
        <td>12.7968</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Tony Jones</td>
        <td>NO</td>
        <td>GB</td>
        <td>12.4450</td>
        <td>0.0</td>
        <td>12.4450</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Jaleel McLaughlin</td>
        <td>DEN</td>
        <td>NYJ</td>
        <td>12.4130</td>
        <td>0.0</td>
        <td>12.4130</td>
      </tr>
      <tr>
        <td>26</td>
        <td>D'Onta Foreman</td>
        <td>CHI</td>
        <td>GB</td>
        <td>12.2302</td>
        <td>0.0</td>
        <td>12.2302</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Samaje Perine</td>
        <td>DEN</td>
        <td>NYJ</td>
        <td>12.0270</td>
        <td>0.0</td>
        <td>12.0270</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Tyjae Spears</td>
        <td>TEN</td>
        <td>IND</td>
        <td>11.8940</td>
        <td>0.0</td>
        <td>11.8940</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Dameon Pierce</td>
        <td>HOU</td>
        <td>ATL</td>
        <td>11.6030</td>
        <td>0.0</td>
        <td>11.6030</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Javonte Williams</td>
        <td>DEN</td>
        <td>CHI</td>
        <td>11.4760</td>
        <td>0.0</td>
        <td>11.4760</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Alexander Mattison</td>
        <td>MIN</td>
        <td>KC</td>
        <td>11.1560</td>
        <td>0.0</td>
        <td>11.1560</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Michael Carter</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>10.6026</td>
        <td>0.0</td>
        <td>10.6026</td>
      </tr>
      <tr>
        <td>33</td>
        <td>J.K. Dobbins</td>
        <td>BAL</td>
        <td>HOU</td>
        <td>10.4930</td>
        <td>0.0</td>
        <td>10.4930</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Devon Achane</td>
        <td>MIA</td>
        <td>NYG</td>
        <td>10.2808</td>
        <td>0.0</td>
        <td>10.2808</td>
      </tr>
      <tr>
        <td>35</td>
        <td>Justice Hill</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>10.2400</td>
        <td>0.0</td>
        <td>10.2400</td>
      </tr>
      <tr>
        <td>36</td>
        <td>Salvon Ahmed</td>
        <td>MIA</td>
        <td>NE</td>
        <td>9.9510</td>
        <td>0.0</td>
        <td>9.9510</td>
      </tr>
      <tr>
        <td>37</td>
        <td>Emari Demercado</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>9.9000</td>
        <td>0.0</td>
        <td>9.9000</td>
      </tr>
      <tr>
        <td>38</td>
        <td>Nick Chubb</td>
        <td>CLE</td>
        <td>PIT</td>
        <td>9.8598</td>
        <td>0.0</td>
        <td>9.8598</td>
      </tr>
      <tr>
        <td>39</td>
        <td>Melvin Gordon</td>
        <td>BAL</td>
        <td>CLE</td>
        <td>9.8520</td>
        <td>0.0</td>
        <td>9.8520</td>
      </tr>
      <tr>
        <td>40</td>
        <td>Zack Moss</td>
        <td>IND</td>
        <td>TEN</td>
        <td>9.7820</td>
        <td>0.0</td>
        <td>9.7820</td>
      </tr>
      <tr>
        <td>41</td>
        <td>Chuba Hubbard</td>
        <td>CAR</td>
        <td>DET</td>
        <td>9.4218</td>
        <td>0.0</td>
        <td>9.4218</td>
      </tr>
      <tr>
        <td>42</td>
        <td>Kenneth Gainwell</td>
        <td>PHI</td>
        <td>LA</td>
        <td>9.3220</td>
        <td>0.0</td>
        <td>9.3220</td>
      </tr>
      <tr>
        <td>43</td>
        <td>Antonio Gibson</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>9.3022</td>
        <td>0.0</td>
        <td>9.3022</td>
      </tr>
      <tr>
        <td>44</td>
        <td>Brian Robinson</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>8.7340</td>
        <td>0.0</td>
        <td>8.7340</td>
      </tr>
      <tr>
        <td>45</td>
        <td>Kenyan Drake</td>
        <td>BAL</td>
        <td>IND</td>
        <td>8.6196</td>
        <td>0.0</td>
        <td>8.6196</td>
      </tr>
      <tr>
        <td>46</td>
        <td>Gus Edwards</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>8.0930</td>
        <td>0.0</td>
        <td>8.0930</td>
      </tr>
      <tr>
        <td>47</td>
        <td>Jordan Mason</td>
        <td>SF</td>
        <td>DAL</td>
        <td>7.8932</td>
        <td>0.0</td>
        <td>7.8932</td>
      </tr>
      <tr>
        <td>48</td>
        <td>Devin Singletary</td>
        <td>HOU</td>
        <td>ATL</td>
        <td>7.2080</td>
        <td>0.0</td>
        <td>7.2080</td>
      </tr>
      <tr>
        <td>49</td>
        <td>Zach Charbonnet</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>7.1240</td>
        <td>0.0</td>
        <td>7.1240</td>
      </tr>
      <tr>
        <td>50</td>
        <td>Isaiah Spiller</td>
        <td>LAC</td>
        <td>LV</td>
        <td>6.7470</td>
        <td>0.0</td>
        <td>6.7470</td>
      </tr>
      <tr>
        <td>51</td>
        <td>Elijah Dotson</td>
        <td>LAC</td>
        <td>TEN</td>
        <td>6.7360</td>
        <td>0.0</td>
        <td>6.7360</td>
      </tr>
      <tr>
        <td>52</td>
        <td>Jerick McKinnon</td>
        <td>KC</td>
        <td>MIN</td>
        <td>6.6970</td>
        <td>0.0</td>
        <td>6.6970</td>
      </tr>
      <tr>
        <td>53</td>
        <td>Kenneth Walker</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>6.2710</td>
        <td>0.0</td>
        <td>6.2710</td>
      </tr>
      <tr>
        <td>54</td>
        <td>Matt Breida</td>
        <td>NYG</td>
        <td>MIA</td>
        <td>6.1360</td>
        <td>0.0</td>
        <td>6.1360</td>
      </tr>
      <tr>
        <td>55</td>
        <td>Jonathan Taylor</td>
        <td>IND</td>
        <td>TEN</td>
        <td>5.9790</td>
        <td>0.0</td>
        <td>5.9790</td>
      </tr>
      <tr>
        <td>56</td>
        <td>Cam Akers</td>
        <td>MIN</td>
        <td>KC</td>
        <td>5.8790</td>
        <td>0.0</td>
        <td>5.8790</td>
      </tr>
      <tr>
        <td>57</td>
        <td>Keaontay Ingram</td>
        <td>ARI</td>
        <td>DAL</td>
        <td>5.8622</td>
        <td>0.0</td>
        <td>5.8622</td>
      </tr>
      <tr>
        <td>58</td>
        <td>Joshua Kelley</td>
        <td>LAC</td>
        <td>LV</td>
        <td>5.5720</td>
        <td>0.0</td>
        <td>5.5720</td>
      </tr>
      <tr>
        <td>59</td>
        <td>Jamaal Williams</td>
        <td>NO</td>
        <td>CAR</td>
        <td>5.5026</td>
        <td>0.0</td>
        <td>5.5026</td>
      </tr>
      <tr>
        <td>60</td>
        <td>James Conner</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>5.4682</td>
        <td>0.0</td>
        <td>5.4682</td>
      </tr>
      <tr>
        <td>61</td>
        <td>Tyler Allgeier</td>
        <td>ATL</td>
        <td>HOU</td>
        <td>5.3440</td>
        <td>0.0</td>
        <td>5.3440</td>
      </tr>
      <tr>
        <td>62</td>
        <td>Eric Gray</td>
        <td>NYG</td>
        <td>MIA</td>
        <td>5.2882</td>
        <td>0.0</td>
        <td>5.2882</td>
      </tr>
      <tr>
        <td>63</td>
        <td>Christopher Brooks</td>
        <td>MIA</td>
        <td>DEN</td>
        <td>5.2508</td>
        <td>0.0</td>
        <td>5.2508</td>
      </tr>
      <tr>
        <td>64</td>
        <td>Dalvin Cook</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>5.0774</td>
        <td>0.0</td>
        <td>5.0774</td>
      </tr>
      <tr>
        <td>65</td>
        <td>Damien Harris</td>
        <td>BUF</td>
        <td>JAX</td>
        <td>5.0058</td>
        <td>0.0</td>
        <td>5.0058</td>
      </tr>
    </tbody>
  </table>