<table border="0" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>rank</th>
        <th>player_display_name</th>
        <th>recent_team</th>
        <th>opponent</th>
        <th>prediction</th>
        <th>actual</th>
        <th>error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Kyle Pitts</td>
        <td>ATL</td>
        <td>HOU</td>
        <td>15.2866</td>
        <td>0.0</td>
        <td>15.2866</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Evan Engram</td>
        <td>JAX</td>
        <td>BUF</td>
        <td>14.3540</td>
        <td>0.0</td>
        <td>14.3540</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Dalton Schultz</td>
        <td>HOU</td>
        <td>ATL</td>
        <td>13.8210</td>
        <td>0.0</td>
        <td>13.8210</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Dallas Goedert</td>
        <td>PHI</td>
        <td>LA</td>
        <td>13.1668</td>
        <td>0.0</td>
        <td>13.1668</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Mark Andrews</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>13.1350</td>
        <td>0.0</td>
        <td>13.1350</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Logan Thomas</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>12.5146</td>
        <td>0.0</td>
        <td>12.5146</td>
      </tr>
      <tr>
        <td>7</td>
        <td>T.J. Hockenson</td>
        <td>MIN</td>
        <td>KC</td>
        <td>12.5056</td>
        <td>0.0</td>
        <td>12.5056</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Chigoziem Okonkwo</td>
        <td>TEN</td>
        <td>IND</td>
        <td>12.2010</td>
        <td>0.0</td>
        <td>12.2010</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Cole Kmet</td>
        <td>CHI</td>
        <td>WAS</td>
        <td>11.7038</td>
        <td>0.0</td>
        <td>11.7038</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Adam Trautman</td>
        <td>DEN</td>
        <td>NYJ</td>
        <td>10.2210</td>
        <td>0.0</td>
        <td>10.2210</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Tyler Conklin</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>9.2630</td>
        <td>0.0</td>
        <td>9.2630</td>
      </tr>
      <tr>
        <td>12</td>
        <td>George Kittle</td>
        <td>SF</td>
        <td>DAL</td>
        <td>8.1340</td>
        <td>0.0</td>
        <td>8.1340</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Jonnu Smith</td>
        <td>ATL</td>
        <td>HOU</td>
        <td>8.1218</td>
        <td>0.0</td>
        <td>8.1218</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Michael Mayer</td>
        <td>LV</td>
        <td>GB</td>
        <td>7.5020</td>
        <td>0.0</td>
        <td>7.5020</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Will Mallory</td>
        <td>IND</td>
        <td>HOU</td>
        <td>7.4800</td>
        <td>0.0</td>
        <td>7.4800</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Irv Smith</td>
        <td>CIN</td>
        <td>BAL</td>
        <td>7.4290</td>
        <td>0.0</td>
        <td>7.4290</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Pharaoh Brown</td>
        <td>NE</td>
        <td>NYJ</td>
        <td>7.0970</td>
        <td>0.0</td>
        <td>7.0970</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Zach Ertz</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>7.0190</td>
        <td>0.0</td>
        <td>7.0190</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Mike Gesicki</td>
        <td>NE</td>
        <td>NO</td>
        <td>6.9020</td>
        <td>0.0</td>
        <td>6.9020</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Ko Kieft</td>
        <td>TB</td>
        <td>MIN</td>
        <td>6.8160</td>
        <td>0.0</td>
        <td>6.8160</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Trey McBride</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>6.7240</td>
        <td>0.0</td>
        <td>6.7240</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Cade Otton</td>
        <td>TB</td>
        <td>NO</td>
        <td>6.5320</td>
        <td>0.0</td>
        <td>6.5320</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Durham Smythe</td>
        <td>MIA</td>
        <td>BUF</td>
        <td>6.3080</td>
        <td>0.0</td>
        <td>6.3080</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Andrew Ogletree</td>
        <td>IND</td>
        <td>TEN</td>
        <td>6.0860</td>
        <td>0.0</td>
        <td>6.0860</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Hunter Henry</td>
        <td>NE</td>
        <td>NO</td>
        <td>6.0430</td>
        <td>0.0</td>
        <td>6.0430</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Brock Wright</td>
        <td>DET</td>
        <td>CAR</td>
        <td>5.9730</td>
        <td>0.0</td>
        <td>5.9730</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Noah Fant</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>5.8260</td>
        <td>0.0</td>
        <td>5.8260</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Kylen Granson</td>
        <td>IND</td>
        <td>TEN</td>
        <td>5.7870</td>
        <td>0.0</td>
        <td>5.7870</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Isaiah Likely</td>
        <td>BAL</td>
        <td>IND</td>
        <td>5.6890</td>
        <td>0.0</td>
        <td>5.6890</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Tyler Higbee</td>
        <td>LA</td>
        <td>PHI</td>
        <td>5.5640</td>
        <td>0.0</td>
        <td>5.5640</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Will Dissly</td>
        <td>SEA</td>
        <td>DET</td>
        <td>5.4900</td>
        <td>0.0</td>
        <td>5.4900</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Robert Tonyan</td>
        <td>CHI</td>
        <td>WAS</td>
        <td>5.4380</td>
        <td>0.0</td>
        <td>5.4380</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Blake Bell</td>
        <td>KC</td>
        <td>DET</td>
        <td>5.0300</td>
        <td>0.0</td>
        <td>5.0300</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Colby Parkinson</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>5.0170</td>
        <td>0.0</td>
        <td>5.0170</td>
      </tr>
    </tbody>
  </table>