<table border="0" class="dataframe">
    <thead>
      <tr style="text-align: right;">
        <th>rank</th>
        <th>player_display_name</th>
        <th>recent_team</th>
        <th>opponent</th>
        <th>prediction</th>
        <th>actual</th>
        <th>error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Tyreek Hill</td>
        <td>MIA</td>
        <td>NYG</td>
        <td>25.1082</td>
        <td>0.0</td>
        <td>25.1082</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Cooper Kupp</td>
        <td>LA</td>
        <td>PHI</td>
        <td>23.6810</td>
        <td>0.0</td>
        <td>23.6810</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Ja'Marr Chase</td>
        <td>CIN</td>
        <td>ARI</td>
        <td>22.9370</td>
        <td>0.0</td>
        <td>22.9370</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Puka Nacua</td>
        <td>LA</td>
        <td>PHI</td>
        <td>22.4366</td>
        <td>0.0</td>
        <td>22.4366</td>
      </tr>
      <tr>
        <td>5</td>
        <td>DeAndre Hopkins</td>
        <td>TEN</td>
        <td>IND</td>
        <td>21.7434</td>
        <td>0.0</td>
        <td>21.7434</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Adam Thielen</td>
        <td>CAR</td>
        <td>DET</td>
        <td>21.6930</td>
        <td>0.0</td>
        <td>21.6930</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Josh Palmer</td>
        <td>LAC</td>
        <td>LV</td>
        <td>21.6700</td>
        <td>0.0</td>
        <td>21.6700</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Brandon Aiyuk</td>
        <td>SF</td>
        <td>DAL</td>
        <td>20.9050</td>
        <td>0.0</td>
        <td>20.9050</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Jaylen Waddle</td>
        <td>MIA</td>
        <td>NYG</td>
        <td>20.8750</td>
        <td>0.0</td>
        <td>20.8750</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Chris Godwin</td>
        <td>TB</td>
        <td>NO</td>
        <td>20.8260</td>
        <td>0.0</td>
        <td>20.8260</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Jakobi Meyers</td>
        <td>LV</td>
        <td>GB</td>
        <td>20.7190</td>
        <td>0.0</td>
        <td>20.7190</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Zay Flowers</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>19.8260</td>
        <td>0.0</td>
        <td>19.8260</td>
      </tr>
      <tr>
        <td>13</td>
        <td>A.J. Brown</td>
        <td>PHI</td>
        <td>LA</td>
        <td>19.6250</td>
        <td>0.0</td>
        <td>19.6250</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Stefon Diggs</td>
        <td>BUF</td>
        <td>JAX</td>
        <td>19.4490</td>
        <td>0.0</td>
        <td>19.4490</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Jerry Jeudy</td>
        <td>DEN</td>
        <td>NYJ</td>
        <td>19.2970</td>
        <td>0.0</td>
        <td>19.2970</td>
      </tr>
      <tr>
        <td>16</td>
        <td>D.J. Moore</td>
        <td>CHI</td>
        <td>WAS</td>
        <td>19.1016</td>
        <td>0.0</td>
        <td>19.1016</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Calvin Ridley</td>
        <td>JAX</td>
        <td>BUF</td>
        <td>17.2560</td>
        <td>0.0</td>
        <td>17.2560</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Michael Thomas</td>
        <td>NO</td>
        <td>NE</td>
        <td>15.8412</td>
        <td>0.0</td>
        <td>15.8412</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Garrett Wilson</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>15.4640</td>
        <td>0.0</td>
        <td>15.4640</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Jordan Addison</td>
        <td>MIN</td>
        <td>KC</td>
        <td>14.6534</td>
        <td>0.0</td>
        <td>14.6534</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Amon-Ra St. Brown</td>
        <td>DET</td>
        <td>GB</td>
        <td>14.4830</td>
        <td>0.0</td>
        <td>14.4830</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Drake London</td>
        <td>ATL</td>
        <td>HOU</td>
        <td>14.3864</td>
        <td>0.0</td>
        <td>14.3864</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Josh Reynolds</td>
        <td>DET</td>
        <td>CAR</td>
        <td>14.0272</td>
        <td>0.0</td>
        <td>14.0272</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Christian Kirk</td>
        <td>JAX</td>
        <td>BUF</td>
        <td>13.7530</td>
        <td>0.0</td>
        <td>13.7530</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Michael Pittman</td>
        <td>IND</td>
        <td>TEN</td>
        <td>13.6760</td>
        <td>0.0</td>
        <td>13.6760</td>
      </tr>
      <tr>
        <td>26</td>
        <td>CeeDee Lamb</td>
        <td>DAL</td>
        <td>SF</td>
        <td>13.4452</td>
        <td>0.0</td>
        <td>13.4452</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Josh Downs</td>
        <td>IND</td>
        <td>TEN</td>
        <td>13.1530</td>
        <td>0.0</td>
        <td>13.1530</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Chris Olave</td>
        <td>NO</td>
        <td>NE</td>
        <td>13.1090</td>
        <td>0.0</td>
        <td>13.1090</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Keenan Allen</td>
        <td>LAC</td>
        <td>LV</td>
        <td>12.9070</td>
        <td>0.0</td>
        <td>12.9070</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Amari Cooper</td>
        <td>CLE</td>
        <td>BAL</td>
        <td>12.5570</td>
        <td>0.0</td>
        <td>12.5570</td>
      </tr>
      <tr>
        <td>31</td>
        <td>Mike Williams</td>
        <td>LAC</td>
        <td>MIN</td>
        <td>12.4476</td>
        <td>0.0</td>
        <td>12.4476</td>
      </tr>
      <tr>
        <td>32</td>
        <td>Terrace Marshall</td>
        <td>CAR</td>
        <td>MIN</td>
        <td>12.3400</td>
        <td>0.0</td>
        <td>12.3400</td>
      </tr>
      <tr>
        <td>33</td>
        <td>Michael Gallup</td>
        <td>DAL</td>
        <td>SF</td>
        <td>12.3116</td>
        <td>0.0</td>
        <td>12.3116</td>
      </tr>
      <tr>
        <td>34</td>
        <td>Gabe Davis</td>
        <td>BUF</td>
        <td>JAX</td>
        <td>11.9756</td>
        <td>0.0</td>
        <td>11.9756</td>
      </tr>
      <tr>
        <td>35</td>
        <td>DK Metcalf</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>11.5678</td>
        <td>0.0</td>
        <td>11.5678</td>
      </tr>
      <tr>
        <td>36</td>
        <td>Jaxon Smith-Njigba</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>11.5620</td>
        <td>0.0</td>
        <td>11.5620</td>
      </tr>
      <tr>
        <td>37</td>
        <td>Trenton Irwin</td>
        <td>CIN</td>
        <td>ARI</td>
        <td>11.3798</td>
        <td>0.0</td>
        <td>11.3798</td>
      </tr>
      <tr>
        <td>38</td>
        <td>Tutu Atwell</td>
        <td>LA</td>
        <td>PHI</td>
        <td>11.3560</td>
        <td>0.0</td>
        <td>11.3560</td>
      </tr>
      <tr>
        <td>39</td>
        <td>K.J. Osborn</td>
        <td>MIN</td>
        <td>KC</td>
        <td>11.1720</td>
        <td>0.0</td>
        <td>11.1720</td>
      </tr>
      <tr>
        <td>40</td>
        <td>Chase Claypool</td>
        <td>CHI</td>
        <td>KC</td>
        <td>11.1290</td>
        <td>0.0</td>
        <td>11.1290</td>
      </tr>
      <tr>
        <td>41</td>
        <td>Tyler Lockett</td>
        <td>SEA</td>
        <td>NYG</td>
        <td>11.1114</td>
        <td>0.0</td>
        <td>11.1114</td>
      </tr>
      <tr>
        <td>42</td>
        <td>Brandin Cooks</td>
        <td>DAL</td>
        <td>SF</td>
        <td>10.8406</td>
        <td>0.0</td>
        <td>10.8406</td>
      </tr>
      <tr>
        <td>43</td>
        <td>DeVonta Smith</td>
        <td>PHI</td>
        <td>LA</td>
        <td>10.5430</td>
        <td>0.0</td>
        <td>10.5430</td>
      </tr>
      <tr>
        <td>44</td>
        <td>Kendrick Bourne</td>
        <td>NE</td>
        <td>NO</td>
        <td>10.4364</td>
        <td>0.0</td>
        <td>10.4364</td>
      </tr>
      <tr>
        <td>45</td>
        <td>Deebo Samuel</td>
        <td>SF</td>
        <td>DAL</td>
        <td>10.4086</td>
        <td>0.0</td>
        <td>10.4086</td>
      </tr>
      <tr>
        <td>46</td>
        <td>Cedrick Wilson</td>
        <td>MIA</td>
        <td>NYG</td>
        <td>10.4000</td>
        <td>0.0</td>
        <td>10.4000</td>
      </tr>
      <tr>
        <td>47</td>
        <td>Justin Watson</td>
        <td>KC</td>
        <td>MIN</td>
        <td>9.3950</td>
        <td>0.0</td>
        <td>9.3950</td>
      </tr>
      <tr>
        <td>48</td>
        <td>Curtis Samuel</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>9.3700</td>
        <td>0.0</td>
        <td>9.3700</td>
      </tr>
      <tr>
        <td>49</td>
        <td>D.J. Chark</td>
        <td>CAR</td>
        <td>DET</td>
        <td>9.3518</td>
        <td>0.0</td>
        <td>9.3518</td>
      </tr>
      <tr>
        <td>50</td>
        <td>Courtland Sutton</td>
        <td>DEN</td>
        <td>NYJ</td>
        <td>9.2320</td>
        <td>0.0</td>
        <td>9.2320</td>
      </tr>
      <tr>
        <td>51</td>
        <td>Darnell Mooney</td>
        <td>CHI</td>
        <td>WAS</td>
        <td>8.9380</td>
        <td>0.0</td>
        <td>8.9380</td>
      </tr>
      <tr>
        <td>52</td>
        <td>Nelson Agholor</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>8.8740</td>
        <td>0.0</td>
        <td>8.8740</td>
      </tr>
      <tr>
        <td>53</td>
        <td>Terry McLaurin</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>8.8204</td>
        <td>0.0</td>
        <td>8.8204</td>
      </tr>
      <tr>
        <td>54</td>
        <td>Jonathan Mingo</td>
        <td>CAR</td>
        <td>DET</td>
        <td>8.7460</td>
        <td>0.0</td>
        <td>8.7460</td>
      </tr>
      <tr>
        <td>55</td>
        <td>Nico Collins</td>
        <td>HOU</td>
        <td>ATL</td>
        <td>8.5850</td>
        <td>0.0</td>
        <td>8.5850</td>
      </tr>
      <tr>
        <td>56</td>
        <td>Deven Thompkins</td>
        <td>TB</td>
        <td>NO</td>
        <td>8.3694</td>
        <td>0.0</td>
        <td>8.3694</td>
      </tr>
      <tr>
        <td>57</td>
        <td>Allen Lazard</td>
        <td>NYJ</td>
        <td>DEN</td>
        <td>8.3660</td>
        <td>0.0</td>
        <td>8.3660</td>
      </tr>
      <tr>
        <td>58</td>
        <td>Brandon Powell</td>
        <td>MIN</td>
        <td>KC</td>
        <td>8.2380</td>
        <td>0.0</td>
        <td>8.2380</td>
      </tr>
      <tr>
        <td>59</td>
        <td>Chris Moore</td>
        <td>TEN</td>
        <td>CIN</td>
        <td>8.1240</td>
        <td>0.0</td>
        <td>8.1240</td>
      </tr>
      <tr>
        <td>60</td>
        <td>Justin Jefferson</td>
        <td>MIN</td>
        <td>KC</td>
        <td>7.9860</td>
        <td>0.0</td>
        <td>7.9860</td>
      </tr>
      <tr>
        <td>61</td>
        <td>Mike Evans</td>
        <td>TB</td>
        <td>NO</td>
        <td>7.5690</td>
        <td>0.0</td>
        <td>7.5690</td>
      </tr>
      <tr>
        <td>62</td>
        <td>Quentin Johnston</td>
        <td>LAC</td>
        <td>LV</td>
        <td>7.4770</td>
        <td>0.0</td>
        <td>7.4770</td>
      </tr>
      <tr>
        <td>63</td>
        <td>Rondale Moore</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>7.0470</td>
        <td>0.0</td>
        <td>7.0470</td>
      </tr>
      <tr>
        <td>64</td>
        <td>Justyn Ross</td>
        <td>KC</td>
        <td>MIN</td>
        <td>6.9960</td>
        <td>0.0</td>
        <td>6.9960</td>
      </tr>
      <tr>
        <td>65</td>
        <td>Wan'Dale Robinson</td>
        <td>NYG</td>
        <td>MIA</td>
        <td>6.9700</td>
        <td>0.0</td>
        <td>6.9700</td>
      </tr>
      <tr>
        <td>66</td>
        <td>Tyler Boyd</td>
        <td>CIN</td>
        <td>ARI</td>
        <td>6.9004</td>
        <td>0.0</td>
        <td>6.9004</td>
      </tr>
      <tr>
        <td>67</td>
        <td>Kalif Raymond</td>
        <td>DET</td>
        <td>CAR</td>
        <td>6.8850</td>
        <td>0.0</td>
        <td>6.8850</td>
      </tr>
      <tr>
        <td>68</td>
        <td>Rashee Rice</td>
        <td>KC</td>
        <td>MIN</td>
        <td>6.8600</td>
        <td>0.0</td>
        <td>6.8600</td>
      </tr>
      <tr>
        <td>69</td>
        <td>Elijah Moore</td>
        <td>CLE</td>
        <td>BAL</td>
        <td>6.6870</td>
        <td>0.0</td>
        <td>6.6870</td>
      </tr>
      <tr>
        <td>70</td>
        <td>DeVante Parker</td>
        <td>NE</td>
        <td>NO</td>
        <td>6.5160</td>
        <td>0.0</td>
        <td>6.5160</td>
      </tr>
      <tr>
        <td>71</td>
        <td>Ty Montgomery</td>
        <td>NE</td>
        <td>NO</td>
        <td>6.5090</td>
        <td>0.0</td>
        <td>6.5090</td>
      </tr>
      <tr>
        <td>72</td>
        <td>Darius Slayton</td>
        <td>NYG</td>
        <td>MIA</td>
        <td>6.4990</td>
        <td>0.0</td>
        <td>6.4990</td>
      </tr>
      <tr>
        <td>73</td>
        <td>Davante Adams</td>
        <td>LV</td>
        <td>GB</td>
        <td>6.1850</td>
        <td>0.0</td>
        <td>6.1850</td>
      </tr>
      <tr>
        <td>74</td>
        <td>Kadarius Toney</td>
        <td>KC</td>
        <td>MIN</td>
        <td>6.0200</td>
        <td>0.0</td>
        <td>6.0200</td>
      </tr>
      <tr>
        <td>75</td>
        <td>Jalen Tolbert</td>
        <td>DAL</td>
        <td>NE</td>
        <td>5.9260</td>
        <td>0.0</td>
        <td>5.9260</td>
      </tr>
      <tr>
        <td>76</td>
        <td>Kayshon Boutte</td>
        <td>NE</td>
        <td>PHI</td>
        <td>5.7990</td>
        <td>0.0</td>
        <td>5.7990</td>
      </tr>
      <tr>
        <td>77</td>
        <td>Alec Pierce</td>
        <td>IND</td>
        <td>TEN</td>
        <td>5.7530</td>
        <td>0.0</td>
        <td>5.7530</td>
      </tr>
      <tr>
        <td>78</td>
        <td>Van Jefferson</td>
        <td>LA</td>
        <td>IND</td>
        <td>5.7224</td>
        <td>0.0</td>
        <td>5.7224</td>
      </tr>
      <tr>
        <td>79</td>
        <td>Michael Wilson</td>
        <td>ARI</td>
        <td>CIN</td>
        <td>5.6590</td>
        <td>0.0</td>
        <td>5.6590</td>
      </tr>
      <tr>
        <td>80</td>
        <td>Jahan Dotson</td>
        <td>WAS</td>
        <td>CHI</td>
        <td>5.4520</td>
        <td>0.0</td>
        <td>5.4520</td>
      </tr>
      <tr>
        <td>81</td>
        <td>Nick Westbrook-Ikhine</td>
        <td>TEN</td>
        <td>IND</td>
        <td>5.4220</td>
        <td>0.0</td>
        <td>5.4220</td>
      </tr>
      <tr>
        <td>82</td>
        <td>Odell Beckham</td>
        <td>BAL</td>
        <td>PIT</td>
        <td>5.1598</td>
        <td>0.0</td>
        <td>5.1598</td>
      </tr>
    </tbody>
  </table>