<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>rank</th>
      <th>player_display_name</th>
      <th>recent_team</th>
      <th>opponent</th>
      <th>prediction</th>
      <th>actual</th>
      <th>error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Travis Kelce</td>
      <td>KC</td>
      <td>DEN</td>
      <td>22.1760</td>
      <td>0.0</td>
      <td>22.1760</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sam LaPorta</td>
      <td>DET</td>
      <td>TB</td>
      <td>16.9830</td>
      <td>0.0</td>
      <td>16.9830</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Mark Andrews</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>16.4840</td>
      <td>0.0</td>
      <td>16.4840</td>
    </tr>
    <tr>
      <td>4</td>
      <td>T.J. Hockenson</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>13.8044</td>
      <td>0.0</td>
      <td>13.8044</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Dawson Knox</td>
      <td>BUF</td>
      <td>NYG</td>
      <td>11.4104</td>
      <td>0.0</td>
      <td>11.4104</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Michael Mayer</td>
      <td>LV</td>
      <td>NE</td>
      <td>10.9500</td>
      <td>0.0</td>
      <td>10.9500</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Evan Engram</td>
      <td>JAX</td>
      <td>IND</td>
      <td>10.8470</td>
      <td>0.0</td>
      <td>10.8470</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Luke Musgrave</td>
      <td>GB</td>
      <td>LV</td>
      <td>10.0508</td>
      <td>0.0</td>
      <td>10.0508</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Darren Waller</td>
      <td>NYG</td>
      <td>BUF</td>
      <td>9.1790</td>
      <td>0.0</td>
      <td>9.1790</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Dallas Goedert</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>8.5630</td>
      <td>0.0</td>
      <td>8.5630</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Tyler Higbee</td>
      <td>LA</td>
      <td>ARI</td>
      <td>7.4650</td>
      <td>0.0</td>
      <td>7.4650</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Adam Trautman</td>
      <td>DEN</td>
      <td>KC</td>
      <td>7.1110</td>
      <td>0.0</td>
      <td>7.1110</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Jonnu Smith</td>
      <td>ATL</td>
      <td>WAS</td>
      <td>7.1100</td>
      <td>0.0</td>
      <td>7.1100</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Ko Kieft</td>
      <td>TB</td>
      <td>MIN</td>
      <td>7.0970</td>
      <td>0.0</td>
      <td>7.0970</td>
    </tr>
    <tr>
      <td>15</td>
      <td>George Kittle</td>
      <td>SF</td>
      <td>CLE</td>
      <td>7.0392</td>
      <td>0.0</td>
      <td>7.0392</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Pat Freiermuth</td>
      <td>PIT</td>
      <td>HOU</td>
      <td>7.0270</td>
      <td>0.0</td>
      <td>7.0270</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Kyle Pitts</td>
      <td>ATL</td>
      <td>WAS</td>
      <td>6.8660</td>
      <td>0.0</td>
      <td>6.8660</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Cole Kmet</td>
      <td>CHI</td>
      <td>MIN</td>
      <td>6.8520</td>
      <td>0.0</td>
      <td>6.8520</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Gerald Everett</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>6.6680</td>
      <td>0.0</td>
      <td>6.6680</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Zach Ertz</td>
      <td>ARI</td>
      <td>LA</td>
      <td>6.3950</td>
      <td>0.0</td>
      <td>6.3950</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Connor Heyward</td>
      <td>PIT</td>
      <td>BAL</td>
      <td>6.2360</td>
      <td>0.0</td>
      <td>6.2360</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Brenton Strange</td>
      <td>JAX</td>
      <td>IND</td>
      <td>5.8840</td>
      <td>0.0</td>
      <td>5.8840</td>
    </tr>
    <tr>
      <td>23</td>
      <td>David Njoku</td>
      <td>CLE</td>
      <td>SF</td>
      <td>5.8670</td>
      <td>0.0</td>
      <td>5.8670</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Hunter Henry</td>
      <td>NE</td>
      <td>LV</td>
      <td>5.8340</td>
      <td>0.0</td>
      <td>5.8340</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Isaiah Likely</td>
      <td>BAL</td>
      <td>IND</td>
      <td>5.7750</td>
      <td>0.0</td>
      <td>5.7750</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Colby Parkinson</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>5.7650</td>
      <td>0.0</td>
      <td>5.7650</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Donald Parham</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>5.6870</td>
      <td>0.0</td>
      <td>5.6870</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Juwan Johnson</td>
      <td>NO</td>
      <td>GB</td>
      <td>5.5840</td>
      <td>0.0</td>
      <td>5.5840</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Greg Dulcich</td>
      <td>DEN</td>
      <td>KC</td>
      <td>5.5780</td>
      <td>0.0</td>
      <td>5.5780</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Trey McBride</td>
      <td>ARI</td>
      <td>LA</td>
      <td>5.4860</td>
      <td>0.0</td>
      <td>5.4860</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Blake Bell</td>
      <td>KC</td>
      <td>DET</td>
      <td>5.2980</td>
      <td>0.0</td>
      <td>5.2980</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Mike Gesicki</td>
      <td>NE</td>
      <td>LV</td>
      <td>5.2690</td>
      <td>0.0</td>
      <td>5.2690</td>
    </tr>
  </tbody>
</table>