<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>rank</th>
      <th>player_display_name</th>
      <th>recent_team</th>
      <th>opponent</th>
      <th>prediction</th>
      <th>actual</th>
      <th>error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>D'Andre Swift</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>22.2970</td>
      <td>0.0</td>
      <td>22.2970</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Bijan Robinson</td>
      <td>ATL</td>
      <td>WAS</td>
      <td>20.1512</td>
      <td>0.0</td>
      <td>20.1512</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Alvin Kamara</td>
      <td>NO</td>
      <td>HOU</td>
      <td>18.4434</td>
      <td>0.0</td>
      <td>18.4434</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Alexander Mattison</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>18.0154</td>
      <td>0.0</td>
      <td>18.0154</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Josh Jacobs</td>
      <td>LV</td>
      <td>NE</td>
      <td>17.2094</td>
      <td>0.0</td>
      <td>17.2094</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Khalil Herbert</td>
      <td>CHI</td>
      <td>WAS</td>
      <td>17.1856</td>
      <td>0.0</td>
      <td>17.1856</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Saquon Barkley</td>
      <td>NYG</td>
      <td>BUF</td>
      <td>16.8544</td>
      <td>0.0</td>
      <td>16.8544</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Kenneth Walker</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>16.3890</td>
      <td>0.0</td>
      <td>16.3890</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Travis Etienne</td>
      <td>JAX</td>
      <td>IND</td>
      <td>15.8840</td>
      <td>0.0</td>
      <td>15.8840</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Christian McCaffrey</td>
      <td>SF</td>
      <td>CLE</td>
      <td>15.5144</td>
      <td>0.0</td>
      <td>15.5144</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Isiah Pacheco</td>
      <td>KC</td>
      <td>DEN</td>
      <td>15.3110</td>
      <td>0.0</td>
      <td>15.3110</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Jahmyr Gibbs</td>
      <td>DET</td>
      <td>GB</td>
      <td>14.8170</td>
      <td>0.0</td>
      <td>14.8170</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Jamycal Hasty</td>
      <td>JAX</td>
      <td>ATL</td>
      <td>14.7240</td>
      <td>0.0</td>
      <td>14.7240</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Rhamondre Stevenson</td>
      <td>NE</td>
      <td>LV</td>
      <td>14.2760</td>
      <td>0.0</td>
      <td>14.2760</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Jerick McKinnon</td>
      <td>KC</td>
      <td>DEN</td>
      <td>14.0960</td>
      <td>0.0</td>
      <td>14.0960</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Deon Jackson</td>
      <td>IND</td>
      <td>JAX</td>
      <td>13.7930</td>
      <td>0.0</td>
      <td>13.7930</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Zack Moss</td>
      <td>IND</td>
      <td>JAX</td>
      <td>13.6750</td>
      <td>0.0</td>
      <td>13.6750</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Rachaad White</td>
      <td>TB</td>
      <td>DET</td>
      <td>13.6166</td>
      <td>0.0</td>
      <td>13.6166</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Austin Ekeler</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>13.5006</td>
      <td>0.0</td>
      <td>13.5006</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Raheem Mostert</td>
      <td>MIA</td>
      <td>CAR</td>
      <td>12.4780</td>
      <td>0.0</td>
      <td>12.4780</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Salvon Ahmed</td>
      <td>MIA</td>
      <td>CAR</td>
      <td>12.1148</td>
      <td>0.0</td>
      <td>12.1148</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Tony Jones</td>
      <td>NO</td>
      <td>GB</td>
      <td>11.8060</td>
      <td>0.0</td>
      <td>11.8060</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Jonathan Taylor</td>
      <td>IND</td>
      <td>JAX</td>
      <td>11.3202</td>
      <td>0.0</td>
      <td>11.3202</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Devon Achane</td>
      <td>MIA</td>
      <td>NYG</td>
      <td>10.2468</td>
      <td>0.0</td>
      <td>10.2468</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Patrick Taylor</td>
      <td>GB</td>
      <td>LV</td>
      <td>10.0708</td>
      <td>0.0</td>
      <td>10.0708</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Jerome Ford</td>
      <td>CLE</td>
      <td>SF</td>
      <td>10.0170</td>
      <td>0.0</td>
      <td>10.0170</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Brian Robinson</td>
      <td>WAS</td>
      <td>ATL</td>
      <td>9.8990</td>
      <td>0.0</td>
      <td>9.8990</td>
    </tr>
    <tr>
      <td>28</td>
      <td>J.K. Dobbins</td>
      <td>BAL</td>
      <td>HOU</td>
      <td>9.8110</td>
      <td>0.0</td>
      <td>9.8110</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Aaron Jones</td>
      <td>GB</td>
      <td>DET</td>
      <td>9.6010</td>
      <td>0.0</td>
      <td>9.6010</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Melvin Gordon</td>
      <td>BAL</td>
      <td>CLE</td>
      <td>9.5280</td>
      <td>0.0</td>
      <td>9.5280</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Kenyan Drake</td>
      <td>BAL</td>
      <td>IND</td>
      <td>8.7266</td>
      <td>0.0</td>
      <td>8.7266</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Jaylen Warren</td>
      <td>PIT</td>
      <td>BAL</td>
      <td>8.6570</td>
      <td>0.0</td>
      <td>8.6570</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Kareem Hunt</td>
      <td>CLE</td>
      <td>SF</td>
      <td>8.5930</td>
      <td>0.0</td>
      <td>8.5930</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Nick Chubb</td>
      <td>CLE</td>
      <td>PIT</td>
      <td>8.5798</td>
      <td>0.0</td>
      <td>8.5798</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Jaleel McLaughlin</td>
      <td>DEN</td>
      <td>KC</td>
      <td>8.0700</td>
      <td>0.0</td>
      <td>8.0700</td>
    </tr>
    <tr>
      <td>36</td>
      <td>David Montgomery</td>
      <td>DET</td>
      <td>TB</td>
      <td>7.8726</td>
      <td>0.0</td>
      <td>7.8726</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Samaje Perine</td>
      <td>DEN</td>
      <td>KC</td>
      <td>7.6532</td>
      <td>0.0</td>
      <td>7.6532</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Justice Hill</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>7.3670</td>
      <td>0.0</td>
      <td>7.3670</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Kenneth Gainwell</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>7.3010</td>
      <td>0.0</td>
      <td>7.3010</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Joshua Kelley</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>7.2610</td>
      <td>0.0</td>
      <td>7.2610</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Zamir White</td>
      <td>LV</td>
      <td>NE</td>
      <td>7.2320</td>
      <td>0.0</td>
      <td>7.2320</td>
    </tr>
    <tr>
      <td>42</td>
      <td>D'Onta Foreman</td>
      <td>CHI</td>
      <td>MIN</td>
      <td>7.0188</td>
      <td>0.0</td>
      <td>7.0188</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Kyren Williams</td>
      <td>LA</td>
      <td>ARI</td>
      <td>7.0180</td>
      <td>0.0</td>
      <td>7.0180</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Cam Akers</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>6.7792</td>
      <td>0.0</td>
      <td>6.7792</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Ke'Shawn Vaughn</td>
      <td>TB</td>
      <td>DET</td>
      <td>6.7280</td>
      <td>0.0</td>
      <td>6.7280</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Najee Harris</td>
      <td>PIT</td>
      <td>BAL</td>
      <td>6.6480</td>
      <td>0.0</td>
      <td>6.6480</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Elijah Dotson</td>
      <td>LAC</td>
      <td>TEN</td>
      <td>6.3160</td>
      <td>0.0</td>
      <td>6.3160</td>
    </tr>
    <tr>
      <td>48</td>
      <td>A.J. Dillon</td>
      <td>GB</td>
      <td>LV</td>
      <td>6.2274</td>
      <td>0.0</td>
      <td>6.2274</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Zach Charbonnet</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>6.1710</td>
      <td>0.0</td>
      <td>6.1710</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Ezekiel Elliott</td>
      <td>NE</td>
      <td>LV</td>
      <td>6.1558</td>
      <td>0.0</td>
      <td>6.1558</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Tyler Allgeier</td>
      <td>ATL</td>
      <td>WAS</td>
      <td>6.0748</td>
      <td>0.0</td>
      <td>6.0748</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Keaontay Ingram</td>
      <td>ARI</td>
      <td>LA</td>
      <td>6.0300</td>
      <td>0.0</td>
      <td>6.0300</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Jamaal Williams</td>
      <td>NO</td>
      <td>CAR</td>
      <td>5.9920</td>
      <td>0.0</td>
      <td>5.9920</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Elijah Mitchell</td>
      <td>SF</td>
      <td>CLE</td>
      <td>5.4228</td>
      <td>0.0</td>
      <td>5.4228</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Gus Edwards</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>5.2220</td>
      <td>0.0</td>
      <td>5.2220</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Boston Scott</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>5.0854</td>
      <td>0.0</td>
      <td>5.0854</td>
    </tr>
  </tbody>
</table>