<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>rank</th>
      <th>player_display_name</th>
      <th>recent_team</th>
      <th>opponent</th>
      <th>prediction</th>
      <th>actual</th>
      <th>error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Josh Allen</td>
      <td>BUF</td>
      <td>NYG</td>
      <td>21.6188</td>
      <td>0.0</td>
      <td>21.6188</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jalen Hurts</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>20.8536</td>
      <td>0.0</td>
      <td>20.8536</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Patrick Mahomes</td>
      <td>KC</td>
      <td>DEN</td>
      <td>19.2250</td>
      <td>0.0</td>
      <td>19.2250</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Justin Fields</td>
      <td>CHI</td>
      <td>MIN</td>
      <td>17.5890</td>
      <td>0.0</td>
      <td>17.5890</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Trevor Lawrence</td>
      <td>JAX</td>
      <td>IND</td>
      <td>17.2510</td>
      <td>0.0</td>
      <td>17.2510</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Geno Smith</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>16.5714</td>
      <td>0.0</td>
      <td>16.5714</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Deshaun Watson</td>
      <td>CLE</td>
      <td>TEN</td>
      <td>16.4770</td>
      <td>0.0</td>
      <td>16.4770</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Justin Herbert</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>16.2660</td>
      <td>0.0</td>
      <td>16.2660</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Kirk Cousins</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>16.1848</td>
      <td>0.0</td>
      <td>16.1848</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Sam Howell</td>
      <td>WAS</td>
      <td>ATL</td>
      <td>15.7756</td>
      <td>0.0</td>
      <td>15.7756</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Lamar Jackson</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>15.6674</td>
      <td>0.0</td>
      <td>15.6674</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Tua Tagovailoa</td>
      <td>MIA</td>
      <td>CAR</td>
      <td>15.3268</td>
      <td>0.0</td>
      <td>15.3268</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Desmond Ridder</td>
      <td>ATL</td>
      <td>WAS</td>
      <td>14.1756</td>
      <td>0.0</td>
      <td>14.1756</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Russell Wilson</td>
      <td>DEN</td>
      <td>KC</td>
      <td>14.0670</td>
      <td>0.0</td>
      <td>14.0670</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Joshua Dobbs</td>
      <td>ARI</td>
      <td>LA</td>
      <td>13.9706</td>
      <td>0.0</td>
      <td>13.9706</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Jared Goff</td>
      <td>DET</td>
      <td>TB</td>
      <td>13.9308</td>
      <td>0.0</td>
      <td>13.9308</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Matthew Stafford</td>
      <td>LA</td>
      <td>ARI</td>
      <td>13.6302</td>
      <td>0.0</td>
      <td>13.6302</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Brock Purdy</td>
      <td>SF</td>
      <td>CLE</td>
      <td>13.6016</td>
      <td>0.0</td>
      <td>13.6016</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Gardner Minshew</td>
      <td>IND</td>
      <td>JAX</td>
      <td>13.3718</td>
      <td>0.0</td>
      <td>13.3718</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Jimmy Garoppolo</td>
      <td>LV</td>
      <td>NE</td>
      <td>13.2344</td>
      <td>0.0</td>
      <td>13.2344</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Derek Carr</td>
      <td>NO</td>
      <td>HOU</td>
      <td>13.1230</td>
      <td>0.0</td>
      <td>13.1230</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Jordan Love</td>
      <td>GB</td>
      <td>LV</td>
      <td>12.5790</td>
      <td>0.0</td>
      <td>12.5790</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Baker Mayfield</td>
      <td>TB</td>
      <td>DET</td>
      <td>11.8372</td>
      <td>0.0</td>
      <td>11.8372</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Anthony Richardson</td>
      <td>IND</td>
      <td>TEN</td>
      <td>11.3590</td>
      <td>0.0</td>
      <td>11.3590</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Daniel Jones</td>
      <td>NYG</td>
      <td>MIA</td>
      <td>11.3162</td>
      <td>0.0</td>
      <td>11.3162</td>
    </tr>
  </tbody>
</table>