<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>rank</th>
      <th>player_display_name</th>
      <th>recent_team</th>
      <th>opponent</th>
      <th>prediction</th>
      <th>actual</th>
      <th>error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Stefon Diggs</td>
      <td>BUF</td>
      <td>NYG</td>
      <td>30.8496</td>
      <td>0.0</td>
      <td>30.8496</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Cooper Kupp</td>
      <td>LA</td>
      <td>ARI</td>
      <td>23.7536</td>
      <td>0.0</td>
      <td>23.7536</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Terry McLaurin</td>
      <td>WAS</td>
      <td>ATL</td>
      <td>23.1666</td>
      <td>0.0</td>
      <td>23.1666</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Brandon Aiyuk</td>
      <td>SF</td>
      <td>CLE</td>
      <td>21.4580</td>
      <td>0.0</td>
      <td>21.4580</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Tyreek Hill</td>
      <td>MIA</td>
      <td>CAR</td>
      <td>21.3380</td>
      <td>0.0</td>
      <td>21.3380</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Jaylen Waddle</td>
      <td>MIA</td>
      <td>CAR</td>
      <td>19.9530</td>
      <td>0.0</td>
      <td>19.9530</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Amon-Ra St. Brown</td>
      <td>DET</td>
      <td>TB</td>
      <td>19.8800</td>
      <td>0.0</td>
      <td>19.8800</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Keenan Allen</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>19.8590</td>
      <td>0.0</td>
      <td>19.8590</td>
    </tr>
    <tr>
      <td>9</td>
      <td>DeVonta Smith</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>19.4900</td>
      <td>0.0</td>
      <td>19.4900</td>
    </tr>
    <tr>
      <td>10</td>
      <td>A.J. Brown</td>
      <td>PHI</td>
      <td>NYJ</td>
      <td>18.6270</td>
      <td>0.0</td>
      <td>18.6270</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Christian Kirk</td>
      <td>JAX</td>
      <td>IND</td>
      <td>18.1726</td>
      <td>0.0</td>
      <td>18.1726</td>
    </tr>
    <tr>
      <td>12</td>
      <td>D.J. Moore</td>
      <td>CHI</td>
      <td>MIN</td>
      <td>17.8660</td>
      <td>0.0</td>
      <td>17.8660</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Christian Watson</td>
      <td>GB</td>
      <td>LV</td>
      <td>17.3190</td>
      <td>0.0</td>
      <td>17.3190</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Drake London</td>
      <td>ATL</td>
      <td>WAS</td>
      <td>17.0248</td>
      <td>0.0</td>
      <td>17.0248</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Courtland Sutton</td>
      <td>DEN</td>
      <td>KC</td>
      <td>16.5390</td>
      <td>0.0</td>
      <td>16.5390</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Puka Nacua</td>
      <td>LA</td>
      <td>ARI</td>
      <td>16.4668</td>
      <td>0.0</td>
      <td>16.4668</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Calvin Ridley</td>
      <td>JAX</td>
      <td>IND</td>
      <td>16.3650</td>
      <td>0.0</td>
      <td>16.3650</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Michael Pittman</td>
      <td>IND</td>
      <td>JAX</td>
      <td>16.2334</td>
      <td>0.0</td>
      <td>16.2334</td>
    </tr>
    <tr>
      <td>19</td>
      <td>George Pickens</td>
      <td>PIT</td>
      <td>BAL</td>
      <td>16.1228</td>
      <td>0.0</td>
      <td>16.1228</td>
    </tr>
    <tr>
      <td>20</td>
      <td>DK Metcalf</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>16.0900</td>
      <td>0.0</td>
      <td>16.0900</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Marquise Brown</td>
      <td>ARI</td>
      <td>LA</td>
      <td>15.4804</td>
      <td>0.0</td>
      <td>15.4804</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Kendrick Bourne</td>
      <td>NE</td>
      <td>LV</td>
      <td>14.8210</td>
      <td>0.0</td>
      <td>14.8210</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Jakobi Meyers</td>
      <td>LV</td>
      <td>NE</td>
      <td>14.2516</td>
      <td>0.0</td>
      <td>14.2516</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Amari Cooper</td>
      <td>CLE</td>
      <td>SF</td>
      <td>14.1790</td>
      <td>0.0</td>
      <td>14.1790</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Jerry Jeudy</td>
      <td>DEN</td>
      <td>KC</td>
      <td>13.7266</td>
      <td>0.0</td>
      <td>13.7266</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Zay Flowers</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>13.5310</td>
      <td>0.0</td>
      <td>13.5310</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Chris Olave</td>
      <td>NO</td>
      <td>HOU</td>
      <td>13.1092</td>
      <td>0.0</td>
      <td>13.1092</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Tyler Lockett</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>12.9844</td>
      <td>0.0</td>
      <td>12.9844</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Mike Evans</td>
      <td>TB</td>
      <td>DET</td>
      <td>12.9224</td>
      <td>0.0</td>
      <td>12.9224</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Wan'Dale Robinson</td>
      <td>NYG</td>
      <td>BUF</td>
      <td>12.6790</td>
      <td>0.0</td>
      <td>12.6790</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Darius Slayton</td>
      <td>NYG</td>
      <td>BUF</td>
      <td>12.2920</td>
      <td>0.0</td>
      <td>12.2920</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Allen Robinson</td>
      <td>PIT</td>
      <td>BAL</td>
      <td>11.8940</td>
      <td>0.0</td>
      <td>11.8940</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Mike Williams</td>
      <td>LAC</td>
      <td>MIN</td>
      <td>11.3498</td>
      <td>0.0</td>
      <td>11.3498</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Josh Palmer</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>11.2238</td>
      <td>0.0</td>
      <td>11.2238</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Elijah Moore</td>
      <td>CLE</td>
      <td>SF</td>
      <td>10.9022</td>
      <td>0.0</td>
      <td>10.9022</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Jauan Jennings</td>
      <td>SF</td>
      <td>CLE</td>
      <td>10.6340</td>
      <td>0.0</td>
      <td>10.6340</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Curtis Samuel</td>
      <td>WAS</td>
      <td>ATL</td>
      <td>10.6324</td>
      <td>0.0</td>
      <td>10.6324</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Chris Godwin</td>
      <td>TB</td>
      <td>DET</td>
      <td>10.2698</td>
      <td>0.0</td>
      <td>10.2698</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Chase Claypool</td>
      <td>CHI</td>
      <td>KC</td>
      <td>10.2344</td>
      <td>0.0</td>
      <td>10.2344</td>
    </tr>
    <tr>
      <td>40</td>
      <td>K.J. Osborn</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>10.1584</td>
      <td>0.0</td>
      <td>10.1584</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Davante Adams</td>
      <td>LV</td>
      <td>NE</td>
      <td>10.1048</td>
      <td>0.0</td>
      <td>10.1048</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Cedrick Wilson</td>
      <td>MIA</td>
      <td>NYG</td>
      <td>10.0060</td>
      <td>0.0</td>
      <td>10.0060</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Jordan Addison</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>9.8828</td>
      <td>0.0</td>
      <td>9.8828</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Rashid Shaheed</td>
      <td>NO</td>
      <td>HOU</td>
      <td>9.8334</td>
      <td>0.0</td>
      <td>9.8334</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Trey Palmer</td>
      <td>TB</td>
      <td>DET</td>
      <td>9.6590</td>
      <td>0.0</td>
      <td>9.6590</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Diontae Johnson</td>
      <td>PIT</td>
      <td>SF</td>
      <td>9.0392</td>
      <td>0.0</td>
      <td>9.0392</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Michael Thomas</td>
      <td>NO</td>
      <td>HOU</td>
      <td>8.2060</td>
      <td>0.0</td>
      <td>8.2060</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Skyy Moore</td>
      <td>KC</td>
      <td>DEN</td>
      <td>8.1820</td>
      <td>0.0</td>
      <td>8.1820</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Justin Jefferson</td>
      <td>MIN</td>
      <td>KC</td>
      <td>7.9980</td>
      <td>0.0</td>
      <td>7.9980</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Jameson Williams</td>
      <td>DET</td>
      <td>TB</td>
      <td>7.8160</td>
      <td>0.0</td>
      <td>7.8160</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Tyler Scott</td>
      <td>CHI</td>
      <td>MIN</td>
      <td>7.6730</td>
      <td>0.0</td>
      <td>7.6730</td>
    </tr>
    <tr>
      <td>52</td>
      <td>DeVante Parker</td>
      <td>NE</td>
      <td>LV</td>
      <td>7.4804</td>
      <td>0.0</td>
      <td>7.4804</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Rondale Moore</td>
      <td>ARI</td>
      <td>LA</td>
      <td>7.0650</td>
      <td>0.0</td>
      <td>7.0650</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Odell Beckham</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>7.0030</td>
      <td>0.0</td>
      <td>7.0030</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Justyn Ross</td>
      <td>KC</td>
      <td>MIN</td>
      <td>6.9660</td>
      <td>0.0</td>
      <td>6.9660</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Michael Wilson</td>
      <td>ARI</td>
      <td>LA</td>
      <td>6.9570</td>
      <td>0.0</td>
      <td>6.9570</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Kadarius Toney</td>
      <td>KC</td>
      <td>DEN</td>
      <td>6.8470</td>
      <td>0.0</td>
      <td>6.8470</td>
    </tr>
    <tr>
      <td>58</td>
      <td>Jaxon Smith-Njigba</td>
      <td>SEA</td>
      <td>CIN</td>
      <td>6.5070</td>
      <td>0.0</td>
      <td>6.5070</td>
    </tr>
    <tr>
      <td>59</td>
      <td>Nelson Agholor</td>
      <td>BAL</td>
      <td>TEN</td>
      <td>6.4310</td>
      <td>0.0</td>
      <td>6.4310</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Darnell Mooney</td>
      <td>CHI</td>
      <td>MIN</td>
      <td>6.3012</td>
      <td>0.0</td>
      <td>6.3012</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Gabe Davis</td>
      <td>BUF</td>
      <td>NYG</td>
      <td>6.2680</td>
      <td>0.0</td>
      <td>6.2680</td>
    </tr>
    <tr>
      <td>62</td>
      <td>Brandon Powell</td>
      <td>MIN</td>
      <td>CHI</td>
      <td>6.2180</td>
      <td>0.0</td>
      <td>6.2180</td>
    </tr>
    <tr>
      <td>63</td>
      <td>Jalin Hyatt</td>
      <td>NYG</td>
      <td>BUF</td>
      <td>6.1180</td>
      <td>0.0</td>
      <td>6.1180</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Josh Downs</td>
      <td>IND</td>
      <td>JAX</td>
      <td>5.8960</td>
      <td>0.0</td>
      <td>5.8960</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Alec Pierce</td>
      <td>IND</td>
      <td>JAX</td>
      <td>5.8410</td>
      <td>0.0</td>
      <td>5.8410</td>
    </tr>
    <tr>
      <td>66</td>
      <td>Romeo Doubs</td>
      <td>GB</td>
      <td>LV</td>
      <td>5.6792</td>
      <td>0.0</td>
      <td>5.6792</td>
    </tr>
    <tr>
      <td>67</td>
      <td>Brandon Johnson</td>
      <td>DEN</td>
      <td>KC</td>
      <td>5.5590</td>
      <td>0.0</td>
      <td>5.5590</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Quentin Johnston</td>
      <td>LAC</td>
      <td>DAL</td>
      <td>5.5220</td>
      <td>0.0</td>
      <td>5.5220</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Rashee Rice</td>
      <td>KC</td>
      <td>DEN</td>
      <td>5.4894</td>
      <td>0.0</td>
      <td>5.4894</td>
    </tr>
    <tr>
      <td>70</td>
      <td>Kayshon Boutte</td>
      <td>NE</td>
      <td>PHI</td>
      <td>5.1610</td>
      <td>0.0</td>
      <td>5.1610</td>
    </tr>
  </tbody>
</table>